{{#each accounts as |account|}}

<section class="account">
  {{account.name}}
  {{account.amount}}

  <form id="update-account-form" data-id="{{account.id}}" class="" action="index.html" method="post">
    <input type="text" name="" value="" placeholder="General Fund">
    <input type="text" name="" value=""placeholder="Amount">
    <button class="btn btn-danger">Update</button>
  </form>

  <form id="delete-account-button" data-id="{{account.id}}" class="" action="index.html" method="post">
    <button class="btn btn-danger">Delete</button>
  </form>
</section>

{{/each}}
