{{#each accounts as |account|}}

<section class="account">
  {{account.name}}
  {{account.amount}}
  <!-- {{#if account.editable}} -->

  <!-- <input type="text" name="name" value="" placeholder="General Fund"> -->
  <form class="update-account-button"data-id="{{account.id}}" action="index.html" method="post">
    <input required type="text" name="amount" value=""placeholder="Amount">
    <button class="btn btn-danger">Update</button>
    </form>

  <form class="delete-account-button" data-id="{{account.id}}" class="" action="index.html" method="delete">
    <button class="btn btn-danger">Delete</button>
  </form>

  <!-- {{/if}} -->

</section>

{{/each}}
