
* {
    /* background-color: rgb(100, 175, 222) */
}
/* body {

} */
#marketing-page {
    height: 100vh;
}



h2 {
    display: center;
}

section {
    background-color: lightseagreen;
}

#authentication {
    grid-gap: 5px;
    top: 25%;
    left: 33%;
    position: fixed;
    width: 30%;
}

#sign-out-form {

}

#authentication-title {
    align-items: center;
}

#personal-equity {
    display:
}